@media only screen and (max-width: 1270px) {
    #main {
        .banner {
            flex-direction: column;
            height: 100%;
            &__info {
                width: 100%;
            }
            &__img {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    #main {
        .banner {
            flex-direction: column;
            height: 100%;
            &__info {
                width: 100%;
                padding: 15px 22px;
                &-title {
                    font-size: 18px;
                }
            }
            &__img {
                width: 100%;
            }
        }
        .choose-us {
            .grid-column {
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        .blog-gallery {
            .grid-column {
                padding: 30px 0;
            }
        }
        .hot-products {
            .grid-column {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}
@media only screen and (max-width: 540px) {
    #main {
        .choose-us {
            .grid-column {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}