body {
    font-family: 'Noto Sans', sans-serif !important;
    color: #111111 !important;
}
@media (min-width: 1440px) {
    .container {
        max-width: 112rem !important;
    }
}
a {
    position: relative;
    color: #111111 !important;
    -webkit-transition: all .3s !important;
    -moz-transition: all .3s !important;
    -ms-transition: all .3s !important;
    -o-transition: all .3s !important;
    transition: all .3s !important;
}
header, main, footer {
    width: 100%;
    height: 100%;
}
.containers {
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.animate-style {
        animation: zoompic 8s ease-in-out infinite alternate;
        -webkit-animation: zoompic 8s ease-in-out infinite alternate;
        object-fit: cover;
    }
}
@keyframes zoompic {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
        -moz-transform: rotate(0degdeg);
        -o-transform: rotate(0degdeg);
        -ms-transform: rotate(0degdeg);
        -webkit-transform: rotate(0degdeg);
        transform: rotate(0degdeg);
    }
    100% {
        -moz-transform: scale(1.1) rotate(1.5deg);
        -o-transform: scale(1.1) rotate(1.5deg);
        -ms-transform: scale(1.1) rotate(1.5deg);
        -webkit-transform: scale(1.1) rotate(1.5deg);
        transform: scale(1.1) rotate(1.5deg);
    }
}
ul, li ol {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 !important;
}
input, button {
    overflow: visible;
    border: none;
    &:focus {
        outline: 0 !important;
    }
}
.wrapper {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    &__main {
        grid-column: ~"2 / 14";
        -ms-grid-row: 1;
        grid-row: 1;
    }
    &__aside {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#button-menu {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .2s;
    position: fixed;
    &:hover {
        background: rgb(245, 245, 245);
        border-radius: 52px;
        cursor: pointer;
    }
}
.search-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    &:before {
        top: 50%;
        position: absolute;
        left: 1.5rem;
        width: 20px;
        height: 20px;
        content: "";
        background: url('./assets/imgs/icons/icon-search.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(-50%);
    }
    &__input {
        box-shadow: none;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0 20px 0 50px;
    }
}
.icon {
    width: 24px;
    height: 24px;
    object-fit: unset;
}
#main {
    padding: 20px 0;
    width: 100%;
    height: 100%;
}
.main-button {
    background: #111111;
    padding: 0 1.5rem;
    height: 2.5rem;
    line-height: 1.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    transition: all .3s;
    &__text {
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
    }
    &:hover {
        background: #333333;
        text-decoration: none;
    }
    &--round {
        background: #ffffff;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        padding: 0;
    }
    &__fillter {
        background: transparent;
        border: 1px solid #dfdfdf;
        &__text {
            color: #111111;
        }
        &:hover {
            background: transparent;
            border: 1px solid #929292;
        }
        &--grey {
        	background: #f5f5f5;
        	border: none;
        	&:hover {
        		background: #dfdfdf;
        		border: none;
        	}
        }
        &--white {
        	border: none;
        	background: #ffffff;
        	&:hover {
        		background: #f5f5f5;
        		border: none;
        	}
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
    }
}
.title-head {
    font-size: 22px;
    font-weight: bold;
    word-break: break-word;
    width: 100%;
}
.desc-head {
	font-size: 14px;
	margin: 15px 0 !important;
}
.break-section {
    width: 100%;
    height: 1px;
    background: #cccccc;
}
.group-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
        padding: 15px 0 0;
    &__text {
        width: 50%;
        p {
            color: #484848;
            font-size: 14px;
        }
    }
    .fillter-bar {
        width: 50%;
        justify-content: flex-end;
        .main-button {
            &:last-child {
                margin: 0 0 0 5px;
            }
        }
    }
}
.fillter-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .main-button {
        margin: 0 5px;
        &:first-child {
            margin: 0 5px 0 0;
        }
    }
}
.load-more {
    .count {
        font-size: 12px;
        margin-top: 20px !important;
    }
}
.slide-product {
    .grid-column {
        display: block!important;
        position: relative;
        width: 100%;
        &__item {
            &__info {
                padding: 32px 0;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
        &:hover {
            .swiper-button-next, .swiper-button-prev {
                opacity: 1;
            }
        }
    }
}
.grid-column {
    display: grid;
    grid-gap: 20px;
    &__item {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &:hover {
            #add-to-cart {
                opacity: 1;
                visibility: visible;
            }
            .default {
                opacity: 0;
            }
            .hover {
                opacity: 1;
            }
            .grid-column__item__option {
                opacity: 1;
            }
        }
        &__option {
            width: 100%;
            height: 100%;
            display: flex;
            padding-bottom: 10px;
            opacity: 0;
            align-items: center;
            justify-content: space-between;
            transition: opacity .2s ease-in-out;
            &__checkbox {
                width: 100%;
                height: 100%;
                order: 0;
            }
            &__heart {
                order: 1;
                color: #929292;
                background: transparent;
                padding: 0;
                border-radius: 50%;
                border-bottom: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                svg {
                    flex-shrink: 0;
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    vertical-align: middle;
                    fill: #000000;
                }
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            .default {
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
            .hover {
                -webkit-transition: opacity .3s ease-in-out;
                -o-transition: opacity .3s ease-in-out;
                transition: opacity .3s ease-in-out;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
            }
        }
        &__info {
            padding: 32px;
            width: 100%;
            &__title {
                font-weight: bold;
                word-break: break-word;
                font-size: 16px;
                font-style: normal;
            }
            &__detail {
                font-size: 14px;
                color: #484848;
            }
            &__property {
                display: block;
                padding-top: 10px;
                li {
                    display: inline-block;
                    position: relative;
                    &::after {
                        content: ", ";
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                    a {
                        font-size: 14px;
                        line-height: 1.42857;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            &__price {
                font-size: 22px;
                padding-top: 10px;
                display: block;
                font-weight: 700;
                sup {
                    font-size: 15px;
                }
            }
            &__rating {
                height: 1.25rem;
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                &-vote {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 12px;
                    svg {
                        fill: #000000;
                        width: 18px;
                        height: 18px;

                    }
                }
                &-view {
                    font-size: 12px;
                    display: block;
                }
            }
            &__variations {
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &-property {
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    &__color {
                        width: 1rem;
                        height: 1rem;
                        padding: 0;
                        cursor: pointer;
                        border-radius: 50%;
                        margin-right: 0.75rem;
                        margin-left: 0;
                        transition: all .3s;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:first-child {
                            margin-left: 0.25rem;
                        }
                        &.active {
                            box-shadow: 0 0 0 0.15rem #fff, 0 0 0 0.2rem #111;
                        }
                    }
                }
                &-cart {
                    background: #0058a3;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: all .3s;
                    opacity: 0;
                    visibility: hidden;
                    cursor: pointer;
                }
            }
        }
        &-1 {
            grid-area: gr-1;
        }
        &-2 {
            grid-area: gr-2;
        }
        &-3 {
            grid-area: gr-3;
        }
        &-4 {
            grid-area: gr-4;
        }
        &-5 {
            grid-area: gr-5;
        }
        &-6 {
            grid-area: gr-6;
        }
        &-7 {
            grid-area: gr-7;
        }
        &-8 {
            grid-area: gr-8;
        }
        &-9 {
            grid-area: gr-9;
        }
        &-10 {
            grid-area: gr-10;
        }
        &-11 {
            grid-area: gr-11;
        }
        &-12 {
            grid-area: gr-12;
        }
    }
    &--2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &--3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &--4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    &--5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    &--6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    &--gallery-five {
        grid-template-areas: "gr-1 gr-1 gr-2 gr-3"
        					 "gr-1 gr-1 gr-2 gr-3"
        					 "gr-1 gr-1 gr-2 gr-3"
        					 "gr-1 gr-1 gr-4 gr-3"
        					 "gr-1 gr-1 gr-4 gr-5"
        					 "gr-1 gr-1 gr-4 gr-5"
        					 "gr-1 gr-1 gr-4 gr-5";
        grid-auto-rows: minmax(0,110px);
        &--reverse {
            grid-template-areas: "gr-2 gr-3 gr-1 gr-1"
                                 "gr-2 gr-3 gr-1 gr-1"
                                 "gr-2 gr-3 gr-1 gr-1"
                                 "gr-4 gr-3 gr-1 gr-1"
                                 "gr-4 gr-5 gr-1 gr-1"
                                 "gr-4 gr-5 gr-1 gr-1"
                                 "gr-4 gr-5 gr-1 gr-1";
        }
        .grid-column__item {
            display: block;
        }
    }
    &--gallery-main {
    	grid-template-areas: "gr-1 gr-1 gr-2 gr-2 gr-3 gr-3"
        					 "gr-1 gr-1 gr-2 gr-2 gr-3 gr-3"
        					 "gr-1 gr-1 gr-2 gr-2 gr-3 gr-3"
        					 "gr-1 gr-1 gr-5 gr-5 gr-3 gr-3"
        					 "gr-4 gr-4 gr-5 gr-5 gr-6 gr-6"
        					 "gr-4 gr-4 gr-5 gr-5 gr-6 gr-6"
        					 "gr-4 gr-4 gr-5 gr-5 gr-6 gr-6"
        					 "gr-4 gr-4 gr-8 gr-8 gr-6 gr-6"
        					 "gr-7 gr-7 gr-8 gr-8 gr-9 gr-9"
        					 "gr-7 gr-7 gr-8 gr-8 gr-9 gr-9"
        					 "gr-7 gr-7 gr-8 gr-8 gr-9 gr-9"
        					 "gr-7 gr-7 gr-11 gr-11 gr-9 gr-9"
        					 "gr-10 gr-10 gr-11 gr-11 gr-12 gr-12"
        					 "gr-10 gr-10 gr-11 gr-11 gr-12 gr-12"
        					 "gr-10 gr-10 gr-11 gr-11 gr-12 gr-12"
        					 "gr-10 gr-10 . . gr-12 gr-12";
	    grid-auto-rows: minmax(0,160px);
        .grid-column__item {
            display: block;
        }
    }
}
.products {
    .grid-column {
        grid-gap: 0;
        &__item {
            border-bottom: 1px solid #cccccc;
            padding: 40px 10px 50px 10px;
            &__info {
                padding: 30px 0;
                &__title {
                    text-transform: uppercase;
                }
            }
        }
    }
}
#scroll-top {
    display: none;
    z-index: 99999;
    position: fixed;
    bottom: 30px;
    left: 40px;
    width: 45px;
    height: 45px;
    background: #111111;
    border-radius: 50%;
    align-items: center;
    transition: all .5s;
    justify-content: center;
    &:hover {
        cursor: pointer;
        background: #525252;
    }
}

#scroll-top {
    &.active {
        display: flex;
    }
}
#overlay {
    display: none;
    position: fixed;
    z-index: 7999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    transition: all .2s ease;
    opacity: 0.25;
    pointer-events: all;
    &.active {
        display: block;
    }
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    right: 100%;
    max-width: 480px;
    width: 100%;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    overflow: auto;
    transition: all .5s ease-in-out;
    transition-property: transform, visibility, width;
    transform: translateX(-480px);
    transition: transform 0.2s 0s;
    &.sidebar-product {
        transform: translateX(0);
        left: 100%;
        right: 0;
        &.active {
            transform: translateX(-100%);
        }
        .sidebar__main {
            width: 100%;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            .paragraph-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 40px;
                p {
                    display: block;
                    margin-bottom: 1.875rem !important;
                    font-size: 14px;
                    color: #484848;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }
            .property {
                margin-top: 40px;
            }
        }
    }    
    &.active {
        transform: translateX(0);
    }
    &__top {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        justify-content: center;
        h1 {
            font-size: 0;
            img {
                width: 100px;
            }
        }
    }
    &__main {
        padding: 0 32px 0 150px;
        display: flex;
        flex-direction: column;
        &__menu {
            width: 100%;
            padding-top: 30px;
            li {
                padding-bottom: 30px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
            &__text {
                font-size: 36px;
                font-weight: 700;
                display: block;
                &--small {
                    font-size: 14px;
                }
            }
        }
        &__submenu {
            width: 100%;
            padding-top: 40px;
            li {
                padding-bottom: 20px;
                a {
                    font-size: 14px;
                    font-weight: 400;
                    display: block;
                }
            }
        }
    }
}
.close-sidebar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    transition: all .3s;
    &.close-sidebar-product {
        right: 20px;
        left: unset;
    }
    &:hover {
        background: #f5f5f5;
    }
}
.effect-input~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #0058a3;
    box-shadow: 0 1px 0 #0058a3;
    transition: 0.4s;
}
.effect-input:focus~.focus-border, .has-content.effect-input~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.effect-input~label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 20px;
    color: #000000;
    transition: 0.3s;
    letter-spacing: 0.5px;
    z-index: -1;
}
.effect-input:focus~label, .has-content.effect-input~label {
    top: -16px;
    font-size: 12px;
    color: #000000;
    transition: 0.3s;
}
.required-login {
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
    padding: 1.875rem 1.25rem;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
        &__title {
            font-size: 16px;
            font-weight: 700;
        }
        &__link {
            font-size: 14px;
            span {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__icon {
        .icon {
            width: 32px;
            height: 32px;
        }
    }
}
.breadcrumb {
    background-color: #ffffff !important;
    padding: 15px 0 !important;
    border-bottom: 1px solid #cccccc;
    .breadcrumb-item {
        align-items: center;
        &.active {
            font-size: 13px !important;
            color: #484848 !important;
        }
        a {
            font-size: 13px !important;
        }
    }
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '\0203A' !important;
}
.title-page {
    font-size: 30px;
    font-weight: 700;
    display: block;
}
.list-group {
    flex-direction: row !important;
    justify-content: flex-end;
    .list-group-item {
        background: transparent !important;
        border: none !important;
        padding: 0 6px !important;
        &.active {
            background: transparent !important;
            border: none !important;
            text-decoration: underline;
        }
    }
    .list-group-item-action {
        font-size: 14px;
        font-weight: 700;
        width: auto !important;
    }
}
.effect-checkbox {
    position: relative;
    text-align: left;
    cursor: pointer;
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.effect-checkbox>input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.effect-checkbox>.check {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    transition: all .3s;
    border: 1px solid #929292;
}

.effect-checkbox>.check:hover {
    cursor: pointer;
}

.effect-checkbox>.check:after {
    display: none;
    content: '';
    position: absolute;
}

.effect-checkbox>input[type=checkbox]:checked ~ .check {
    background:  #000000;
}

.effect-checkbox>input[type=checkbox]:checked ~ .check:after {
    display: block;
}
.effect-checkbox>.check:after {
    top: 50%;
    left: 50%;
    width: 7px;
    height: 12px;
    border: 1px solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -3px;
    margin-top: -8px;
}
.collapse-style {
    width: 100%;
    border-top: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .icon {
        flex-shrink: 0;
        transform: rotate(270deg);
    }
    &__event {
        flex-shrink: 1;
        background: transparent;
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-name {
            font-size: .875rem;
            line-height: 1.57143;
            font-weight: 700;
            display: block;
        }
        &-vote {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px 0;
            svg {
                fill: #000000;
                width: 18px;
                height: 18px;
            }
        }
        &-detail {
            display: block;
            padding: 6px 0;
            text-align: left;
            p {
                display: block;
                word-break: break-word;
                margin-bottom: 1.875rem !important;
                font-size: 14px;
                color: #484848;
                &:first-child {
                    margin-top: 30px !important;
                }
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
            li {
                display: inline;
                font-size: 14px;
                font-weight: 400;
                color: #484848;
                &:after {
                    content: ', ';
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}